* {
    font-family: 'Times New Roman', Times, serif
}

#header{
    display: block;
    height: 120px;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo-border {
   display: flex;
   background-color: #312f2f;
   width: 100%;
   padding: 0 16px 0 40px;
} 

.logo {
   display: flex;
   float: left;
   width: 26%;
   align-items: center;
   height: 80px;
}
.size-logo {
    display: flex;
    margin-right: 45%;
    max-width: 100%;
    height: 58%;
}

.list-item {
    display: flex;
    width: 70%;
}

.list-1{
  display: flex;
  width: 24%;
  align-items: center;
}

.item-1{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding: 3px 15px 3px 15px;
    border-right: 1px solid #fff;
}

.search-icon {
  display: flex;
  color: #fff;
  font-size: 100%;
  align-items: center;
}

.language {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

.heading {
    font-size: 64%;
    color: #909195;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-item {
    font-size: 80%;
    color: #fff;
    font-weight: 400;
}

.ti-angle-down {
   display: flex;
   padding-left: 20px;
   color: #fff;
   font-size: 17px;
   align-items: center;
}

.list-2 {
  display: flex;
  width: 30%;
  align-items: center;
}

.item-2 {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    padding: 3px 15px 3px 15px;
    border-right: 1px solid #fff;
}

.ti-headphone {
  display: flex;
  color: #fff;
  font-size: 20px;
  align-items: center;
}

.phone {
   padding-left: 10px;
}

.list-3 {
   display: flex;
   width: 25%;
   align-items: center;
   justify-content: center;
}

.item-3 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 38px;
    padding: 3px 15px 3px 15px;
    border-right: 1px solid #fff;
}

.ti-email {
   display: flex;
   font-size: 20px;
   align-items: center;
   color: #fff;
}

.contact-list{
   display: flex;
   padding-left: 14px;
   align-items: center;
}

.list-4 {
  display: flex;
  width: 21%;
  align-items: center;
  justify-content: center;
}

.item-4 {
   display: flex;
   height: 38px;
   justify-content: center;
   width: 100%;
   align-items: center;
   justify-content: center;
   padding: 3px 15px 3px 15px;
}

.ti-user {
   font-size: 20px;
   color: #fff;
}

.login {
  display: flex;
  padding-left: 14px;
  align-items: center;
}

.form {
    width: 100%;
    height: 40px;
    background-color: #3d3c3c;
    border-bottom:4px solid #000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.form li {
   display: inline-block;
   float: left;
}

.box-1 {
    width: 14%;
    color: #fff;
    height: 100%;
    border-bottom: 3px solid #EA7F23;
}

.ti-home {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     font-size: 20px;
}

.box-2 {
    width: 16%;  
    color: #fff;
    height: 100%;
}

.fax {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.box-3 {
   width: 24%;
   color: #fff;
   height: 40px;
}

.yield {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.box-4 {
    width: 20%;
    height: 40px;
    color: #fff;
}

.box-service {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.box-5 {
   width: 16%;
   height: 40px;
   color: #fff;
}

.box-news {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.box-6 {
   width: 10%;
   height: 40px;
   color: #fff;
}

.ti-list {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

li:hover {
   border-bottom: 3px solid #EA7F23;
}

.vasgroup {

    display: block;
    width: 100%;
    height: 3000px;
}

#information {
   display: block;
   margin-top: 114px;
   width: 100%;
   height: 1100px;
}

.picture {
    float: left;
    width: 100%;
    max-height: 100%;
    border-bottom: 5px solid #EA7F23;
}

.information-display {
    display: block;
    height: 159px;
    width: 100%;
    float: left;
    background-color: #f2f2f7;
}

.information-select {
    display: flex;
    margin-top: -80px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.information-section {
    margin-right: 10px;
    width: 160px;
    height: 100%;
}

.section-1 {
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   height: 40%;
   background-color: #EA7F23;
}

.section-logo {
    display: flex;
    padding: 14px 0 14px 0;
    align-items: center;
    justify-content: flex-end;
    justify-content: center;
    width: 100%;
    height: 56px;
    justify-content: center;
}

.section-size-logo {
    width: 50px;
    height: 50px;
}

.section-2 {
   height: 60%;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   background-color: #fff;
}

.section-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 27px 10px;
}

.section-text-1 {
   height: 20%;
   font-weight: 700;
}

.section-text-2 {
    margin-top: 16%;
    font-size: 90%;
    width: 60%;
    font-weight: 400;
    text-align: center;
    border: 1px solid #8f8b8b;
    border-radius: 5px;
    padding: 2px 20px 4px;
}

.section-text-2:hover {
   background-color: #EA7F23;
}

.section-size-logo:hover{
    height: 50px;
}

.information-text {
    display: flex;
    width: 100%;
    height: 500px;
    padding-top: 40px;
    margin-bottom: 10px;
}

.information-text-display {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 4% 8%;
}

.text {
   width: 33.333333%;
   padding: 0 12px;
}

.mb-text {
    margin-bottom: 2px;
    text-align: justify;
    font-size: 16px;
    font-weight: 540;
    line-height: 1.2;
}

.highlight {
    display: block;
    width: 64%;
    padding: 0 24px 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 4px solid #EA7F23;
    font-size: 18px;
    font-weight: 700;
}

.mt-text {
   margin-top: 10px;
}

.button-text {
    margin-top: 15px;
    border: 0;
    font-size: 20px;
    width: 40%;
    height: 20%;
}

.button-p {
    margin: 0 0 0 0;
    text-align: center;
    border-radius: 10px;
    background-color: #EA7F23;
    color: #fff;
    height: 30px;
    width: 90%;
}

.button-p:hover{
    background-color: #fff;
    color: #EA7F23;
    border: 1px solid #EA7F23;
}

.hit {
    display: block;
    color: #6e6f72;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-right: 15px;
    border-bottom: 4px solid #EA7F23;
}

.hit-1{
    width: 36%; 
}

.text-flex {
    display: flex;
}

.ti-eye {
    font-size: 44px;
    color: #EA7F23;
}

.post {
    padding: 15px;
}

.world-information{
    font-size: 44px;
    color: #EA7F23;
}

.hit-2 {
    width: 72%;
}

.ti-thumb-up {
    color: #EA7F23;
    font-size: 44px;
}

.hit-3 {
    width: 60%;
}

#system {
     display: block;
     width: 100%;
     height: 820px;
}

.system-page {
     display: flex;
     background-image: url(accept/img/system_img.jpeg);
     background-size: cover;
     padding: 45px 80px 45px 80px;
     width: 88%;
     height: 100%;
}

.system-section-1 {
    display: flex;
    width: 32%;
    justify-content: center;
    height: 100%;
    flex-direction: column-reverse;
}

.system-section-2 {
     display: block;
     width: 36%;
     height: 90%;
}

.system-map {
     width: 100%;
     height: 100%;
}

.system-section-3 {
    display: block;
    width: 32%;
    height: 100%;
}


.system-text-h1 {
     color: #EA7F23;  
}

.font-10 {
     font-size: 10px;
     font-weight: 400;
     color: #4d4747;
}

.font-12 {
     font-size: 12px;
     font-weight: 800;
}  

.system-section-1-heading {
     width: 60%;
     padding-right: 30px;
     border-right: 1px solid #4d4747;
}

p {
   margin: 5px 0 5px 0;
}

.system-text-p {
    width: 40%;
    padding-left: 25px;
}

.table-text-1 {
     margin-bottom: 112px;
     padding-top: 30%;
}

.table-text-2 {
     margin-top: 112px;
}

.system-heading {
    padding-top: 64px;
    height: 32%;
    font-size: 24px;
    border-bottom: 3px;
}

.system-heading-highlight {
    color: #000;
    font-weight: 800;
}

.system-text {
    border-bottom: 3px solid;
    font-weight: 600;
}

.system-section-p {
    padding-left: 20px;
    width: 40%;
}

.page-statistic 
{
    width: 100%;
    background-color: #EA7F23;
    height: 202px;
}

.row-statistic {
    display: block;
    width: 88%;
    height: 56%;
    padding: 45px 80px 45px 80px;
}

.container-statistic {
    display: flex;
    width: 100%;
    height: 85%
}

.section-statistic {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

img.icon-statistic {
    height: 75%;
    width: 25%;
}

.content-statistic {
    padding-left: 20px;
}

p.text-statistic {
    font-size: 16px;
    color: #fff;
    font-weight: 540;
}

span.counter {
    font-size: 36px;
    color: #fff;
    font-weight: 800;
}

#project {

}

#prize {

}

#news {

}

#contact {

}