* {
    font-family: 'Times New Roman', Times, serif
}

#header{
    display: block;
    height: 120px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo-border {
   display: flex;
   background-color: #312f2f;
   flex: 100%;
   padding: 0 16px 0 40px;
} 

.logo {
   display: flex;
   flex-wrap: wrap;
   float: left;
   flex: 26%;
   align-items: center;
   height: 80px;
}
.size-logo {
    display: flex;
    margin-right: 45%;
    max-width: 100%;
    height: 58%;
}

.list-item {
    display: flex;
    width: 70%;
}

.list-1{
  display: flex;
  flex: 25%;
  align-items: center;
}

.item-1{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding: 3px 15px 3px 15px;
    border-right: 1px solid #fff;
}

.search-icon {
  display: flex;
  color: #fff;
  font-size: 100%;
  align-items: center;
}

.language {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

.heading {
    font-size: 64%;
    color: #909195;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-item {
    font-size: 80%;
    color: #fff;
    font-weight: 400;
}

.ti-angle-down {
   display: flex;
   padding-left: 20px;
   color: #fff;
   font-size: 17px;
   align-items: center;
}

.list-2 {
  display: flex;
  flex: 30%;
  align-items: center;
}

.item-2 {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    padding: 3px 15px 3px 15px;
    border-right: 1px solid #fff;
}

.ti-headphone {
  display: flex;
  color: #fff;
  font-size: 20px;
  align-items: center;
}

.phone {
   padding-left: 10px;
}

.list-3 {
   display: flex;
   flex: 25%;
   align-items: center;
   justify-content: center;
}

.item-3 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 38px;
    padding: 3px 15px 3px 15px;
    border-right: 1px solid #fff;
}

.ti-email {
   display: flex;
   font-size: 20px;
   align-items: center;
   color: #fff;
}

.contact-list{
   display: flex;
   padding-left: 14px;
   align-items: center;
}

.list-4 {
  display: flex;
  flex: 21%;
  align-items: center;
  justify-content: center;
}

.item-4 {
   display: flex;
   height: 38px;
   justify-content: center;
   width: 100%;
   align-items: center;
   justify-content: center;
   padding: 3px 15px 3px 15px;
}

.ti-user {
   font-size: 20px;
   color: #fff;
}

.login {
  display: flex;
  padding-left: 14px;
  align-items: center;
}

.form {
    height: 40px;
    background-color: #3d3c3c;
    border-bottom:5px solid #000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.form li {
   display: inline-block;
   float: left;
   height: 42px
}

.box-1 {
    width: 14%;
    color: #fff;
    height: 100%;
    border-bottom: 3px solid #EA7F23;
}

.ti-home {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     font-size: 20px;
}

.box-2 {
    width: 16%;  
    color: #fff;
    height: 100%;
}

.fax {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.box-3 {
   width: 24%;
   color: #fff;
   height: 40px;
}

.yield {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.box-4 {
    width: 20%;
    height: 40px;
    color: #fff;
}

.box-service {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.box-5 {
   width: 16%;
   height: 40px;
   color: #fff;
}

.box-news {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

.box-6 {
   width: 10%;
   height: 40px;
   color: #fff;
}

.ti-list {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 11px;
}

li:hover {
   border-bottom: 3px solid #EA7F23;
}

.logo-phone {
   display: none;
}

.vasgroup {

    display: block;
}

#information {
   display: block;
   margin-top: 114px;
   width: 100%;
}

.picture {
    float: left;
    width: 100%;
    max-height: 100%;
    border-bottom: 5px solid #EA7F23;
}

.information-display {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 50px;
    background-color: #f2f2f7;
}

.information-select {
    display: flex;
    margin-top: -80px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.information-section {
    margin-right: 10px;
}

.section-1 {
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   height: 40%;
   background-color: #EA7F23;
}

.section-logo {
    display: flex;
    padding: 14px 0 14px 0;
    align-items: center;
    justify-content: flex-end;
    justify-content: center;
    width: 100%;
    height: 56px;
    justify-content: center;
}

.section-size-logo {
    width: 50px;
    height: 50px;
}

.section-2 {
   height: 60%;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   background-color: #fff;
}

.section-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 27px 10px;
}

.section-text-1 {
   height: 20%;
   font-weight: 700;
}

.section-text-2 {
    margin-top: 16%;
    font-size: 90%;
    width: 60%;
    font-weight: 400;
    text-align: center;
    border: 1px solid #8f8b8b;
    border-radius: 5px;
    padding: 2px 20px 4px;
}

.section-text-2:hover {
   background-color: #EA7F23;
}

.section-size-logo:hover{
    height: 50px;
}

.information-text {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    padding-top: 40px;
    background-color: #fff;
}

.information-text-display {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 4% 8%;
}

.text {
   width: 33.333333%;
   padding: 0 12px;
}

.mb-text {
    margin-bottom: 2px;
    text-align: justify;
    font-size: 16px;
    font-weight: 540;
    line-height: 1.2;
}

.highlight {
    display: block;
    width: 70%;
    padding: 0 24px 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 4px solid #EA7F23;
    font-size: 18px;
    font-weight: 700;
}

.mt-text {
   margin-top: 10px;
}

.button-text {
    margin-top: 15px;
    border: 0;
    font-size: 20px;
    width: 40%;
}

.button-p {
    margin: 0 0 0 0;
    text-align: center;
    border-radius: 10px;
    background-color: #EA7F23;
    color: #fff;
}

.button-p:hover{
    background-color: #fff;
    color: #EA7F23;
    border: 1px solid #EA7F23;
}

.hit {
    display: block;
    color: #6e6f72;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-right: 15px;
    border-bottom: 4px solid #EA7F23;
}

.hit-1{
    width: 36%; 
}

.text-flex {
    display: flex;
}

.ti-eye {
    font-size: 44px;
    color: #EA7F23;
}

.post {
    padding: 15px;
}

.world-information{
    font-size: 44px;
    color: #EA7F23;
}

.hit-2 {
    width: 72%;
}

.ti-thumb-up {
    color: #EA7F23;
    font-size: 44px;
}

.hit-3 {
    width: 60%;
}

#system {
     display: block;
     width: 100%;
}

.system-page {
     display: flex;
     background-image: url(accept/img/system_img.jpeg);
     background-size: cover;
     padding: 45px 80px 45px 80px;
     height: 100%;
}

.system-section-1 {
    display: flex;
    flex: 30%;
    justify-content: center;
    flex-direction: column-reverse;
}

.map-phone {
    display: flex;
    flex: 70%;
}

.system-section-2 {
     display: block;
     padding: 0px 70px 0px 70px;
}

.system-map {
     width: 100%;
     height: 100%;
}

.system-section-3 {
    display: flex;
    flex: 40%;
    height: 100%;
    flex-direction: column;
}


.system-text-h1 {
     color: #EA7F23;  
}

.font-8 {
     font-size: 8px;
     font-weight: 400;
     color: #4d4747;
}

.font-12 {
     font-size: 12px;
     font-weight: 800;
}  

.system-section-1-heading {
     width: 60%;
     padding-right: 30px;
     border-right: 1px solid #4d4747;
}

p {
   margin: 5px 0 5px 0;
}

.system-text-p {
    width: 40%;
    padding-left: 25px;
}

.table-text-1 {
     margin-bottom: 112px;
     padding-top: 30%;
}

.table-text-2 {
     margin-top: 112px;
}

.system-heading {
    padding-top: 64px;
    height: 32%;
    font-size: 24px;
    margin-bottom: 154px;
    border-bottom: 3px;
}

.system-heading-highlight {
    color: #000;
    font-weight: 800;
}

.system-text {
    border-bottom: 3px solid;
    font-size: 18px;
    font-weight: 600;
}

.system-section-p {
    padding-left: 20px;
    width: 40%;
}

.page-statistic 
{
    background-color: #EA7F23;
    height: 202px;
}

.row-statistic {
    display: block;
    width: 88%;
    height: 56%;
    padding: 45px 80px 45px 80px;
}

.container-statistic {
    display: flex;
    width: 100%;
    height: 85%
}

.section-statistic {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

img.icon-statistic {
    height: 75%;
    width: 25%;
}

.content-statistic {
    padding-left: 20px;
}

p.text-statistic {
    font-size: 16px;
    color: #fff;
    font-weight: 540;
}

span.counter {
    font-size: 36px;
    color: #fff;
    font-weight: 800;
}

#project {
    padding: 45px 0 45px 0;
    margin: 0 70px 0 70px;
    margin-bottom: 50px;
}

.highlight-project {
    margin-left: 330px;
    margin-right: 330px;
    margin-bottom: 24px;
}

.text-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-bottom: 4px solid #EA7F23;
}

.highlight-project-p1 {
    font-size: 24px;
    font-weight: 600;
}

.highlight-project-p2 {
    padding-left: 12px;
    font-size: 29px;
    color: #EA7F23;
}

.tab-project {
}

.heading-tab-project {
    height: 50px;
}

ul.nav-form {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    margin: 0 0 0 0;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    border-bottom: 5px solid #fff;
}

li.nav-item {
    display: flex;
    flex: 25%;
    height: 100%;
    font-weight: 600;
    font-size: 16px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.body-tab-project {
    display: flex;
}

.pt-20 {
   padding-top: 15.4px;
}

.img-project {
    padding-top: 20px;
    padding-right: 20px;
}

img.img-project-1 {
    width: 100%;
    height: 600px;
}

img.picture-project-1 {
    width: 100%;
    height: 270px;
}

.picture-project {
    margin-right: -20px;
}

.body-img-project {
    background-color: #EA7F23;
    margin-top: -9px;
    height: 50px;
}

.column-project {
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

p.name-project {
    color: #ffff;
    font-size: 18px;
    font-weight: 800;
}

p.place-project {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

#prize {
     background-color: #f1f1f1;
     height: 490px;
}

.container-prize {
    padding: 52px 90px 0 90px;
}

.prize-heading {
    display: flex;
    align-items: center;
    width: 26%;
    margin-bottom: 20px;
    border-bottom: 3px solid #EA7F23;
}

p.prize-h2 {
    font-size: 20px;
    font-weight: 600;
}

strong.prize-h1 {
    padding-left: 15px;
    font-size: 23px;
    color: #EA7F23;
}

.img-prize {
    display: flex;
    margin-bottom: 40px;
}

.img-prize-1 {
    width: 50%;
}

.heading-img-prize-1 {
    display: flex;
}

i.ti-angle-right {
    color: #EA7F23;
    font-size: 24px;
    font-weight: 600;
}

p.text-heading-prize {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.body-img-prize-1 {
    display: flex;
    padding-top: 16px;
    align-items: center;
    justify-content: center;
}

.cup {
    width: 25%;
    text-align: center;
}

.prize-cup {
    width: 50%;
}

.img-prize {
    display: flex;
    margin-bottom: 40px;
}

.cup-1 {
    text-align: center;
}

img.prize-cup-1 {
    width: 60%;
}
#news {

}

.vasgroup-news {
    padding: 50px 80px 80px 80px;
}

.header-news {
    font-size: 20px;
    width: 86px;
    font-weight: 700;
    color: #EA7F23;
    margin-bottom: 10px;
    border-bottom: 3px solid #EA7F23;
}

.container-news {
    display: flex;
}

.blog {
    padding-right: 20px;
    width: 50%;
}

img.img-1-news {
    width: 100%;
}

img.img-2-news {
    width: 100%;
}

.section-news {
    display: flex;
    margin-top: -4px;
}

.form-text-news {
    height: 100px;
    padding: 15px;
}

p.heading-text-news {
    font-size: 16px;
    color: #7a7a7a;
    font-weight: 600;
    margin-bottom: 12px;
}

p.body-text-news {
    font-size: 14px;
    font-weight: 600;
}


.date-news {
    display: block;
    background-color: #EA7F23;
    height: 50%;
    color: #fff;
    font-weight: 600;
}

p.day-date {
    font-size: 26px;
    text-align: center;
}

p.month-date {
    text-align: center;
}

.text-news {
    background-color: #fff;
    box-shadow: #999 0 5px 15px
}

.form-text-news {
    padding: 15px;
    margin-bottom: 16px;
}


#contact {
    background-color: #f1f1f1;
}

.footer {
    padding: 80px 50px 80px 50px;
}

.section-1-footer {
    margin-bottom: 50px;
}

.row-section-1-footer {
    display: flex;
    margin-bottom: 50px;
}

.box-footer
{
   width: 33.333333%;
}

.box-footer {
    padding-right: 80px;
}

.heading-box-footer {
    font-size: 12px;
    margin-bottom: 10px;
}

.place-box-footer {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

i.ti-location-pin {
    font-size: 24px;
    color: #EA7F23;
}

p.text-place-box {
    margin: 5px;
    font-size: 13px;
    color: #6e6f72;
}

.inbox-box-footer {
    display: flex;
    font-size: 9px;
    color: #646464;
}

.phone-box-footer {
    display: flex;
    align-items: center;
}

i.ti-headphone-alt {
    color: #7d7b7b;
    font-size: 20px;
}

p.phone-number {
    padding-left: 10px;
}

.email-box-footer {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

i.ti-basketball {
    color: #7d7b7b;
    font-size: 20px;
}

p.email-place {
    padding-left: 10px;
}

.app-footer {
    flex: 33.333333%;
}

.box-app-footer {
    padding: 15px 90px;
    display: flex;
}

.app {
    width: 25%;
    font-size: 40px;
}

a.link-app {
    text-decoration: none;
    color: #000;
}

.created {
    width: 33.333333%;
}

p.heading-created {
    padding-left: 65%;
    font-size: 14px;
}

p.name-created {
    padding-left: 85%;
    font-weight: 900;
    color: #EA7F23;
}

@media (max-width: 1160px) and (min-width: 767px) {
    .information-font-10 {
        font-size: 13px !important;
    }
    
    .information-font-12 {
        font-size: 14px !important;
    }

    .icon-information-font-30 {
        font-size: 30px;
    }
    
    .information-border-bottom-2 {
        border-bottom: 2px solid #EA7F23;
    }

    .button-text {
        width: 30%;
        font-size: 10px;
    }

    .highlight {
        width: 85%;
    }

    .hit-1 {
        width: 48%;
    }

    .hit-2 {
        width: 90%;
    }

    .hit-3 {
        width: 72%;
    }

    .information-text-display {
        padding: 4% 4%;
    }

    .system-page {
        flex-direction: row-reverse;
        padding: 30px 25px 30px 25px;
    }
    
    .map-phone {
        flex-direction: row-reverse;
    }

    .system-heading {
        margin-bottom: 0;
        padding-top: 50px; 
    }

    .system-section-1 {
        align-items: center;
    }

    .system-section-1-heading {
        padding: 0;
    }

    .system-text-p {
        padding: 0;
    }

    .system-section-p {
        padding: 0;
    }

    .system-heading-highlight {
        font-size: 14px;
    }

    .system-text {
        font-size: 12px;
    }

    .font-10 {
        font-size: 8px;
    }

    .font-12  {
        font-size: 10px;
    }

    .row-statistic {
        padding: 45px 54px 45px 40px;
    }

    p.text-statistic {
        font-size: 12px;
    }

    span.counter {
        font-size: 30px;
    }

    img.icon-statistic {
        height: 50%;
    }

    .highlight-project {
        margin-left: 180px;
        margin-right: 180px;
    }

    .highlight-project-p1 {
        font-size: 20px;
    }
    .highlight-project-p2 {
        font-size: 18px;
    }

    li.nav-item {
        font-size: 14px;
    }

    img.img-project-1 {
        height: 550px;
    }

    img.picture-project-1 {
        height: 245px;
    }

    .prize-heading {
        width: 40%;
    }

    p.prize-h2 {
        font-size: 16px;
    }

    strong.prize-h1 {
        font-size: 20px;
    }

    .container-news {
        flex-direction: column;
    }

    .blog {
        width: 100%;
        padding-bottom: 30px;
    }

    .footer {
        padding: 60px 30px 60px 30px;
    }

    .box-footer {
        display: flex;
        flex-direction: column;
        padding-right: 40px;
    }

    .heading-box-footer {
        font-size: 10px;
    }

    i.ti-location-pin {
        font-size: 12px;
    }

    p.text-place-box {
        font-size: 8px;
    }

    i.ti-headphone-alt {
        font-size: 12px;
    }

    p.phone-number {
        font-size: 8px;
    }

    .email-box-footer {
        padding-left: 5px;
    }

    i.ti-basketball {
        font-size: 12px;
    }

    p.heading-created {
        padding-left: 20%;
    }

    p.name-created {
        padding-left: 55%;
    }
}

@media (max-width : 766px) {
    .logo {
        display: none;
    }

    .logo-border {
        padding: 0 16px 0 16px;
    }

    .form-li-row {
        display: none;
    }

    .logo-phone {
        display: flex;
        align-items: center;
        width: 90%;
    }

    .list-item {
        display: flex;
        width: 100%;
    }

    .list-1 , .list-2 , .list-3 , .list-4 {
        display: flex;
        align-items: center;
    }

    .heading {
        font-size: 8px;
    }

    .top-item {
        font-size: 10px;
    }

    .search-icon ,.ti-headphone , .ti-email , .ti-user , .ti-angle-down{
        font-size: 12px;
        padding-left: 5px;
    }

    .item-1, .item-2, .item-3, .item-4 {
        padding: 0;
    }
    
    .item-3 {
        height: 50%;
    }

    .form {
        display: flex;
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .size-logo {
        height: 70%;
    }

    .form li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .ti-list {
        font-size: 40px;
    }

    #information {
        margin-top: 100px;
    }

    .information-select {
        margin-top: -50px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .information-section {
        width: 110px;
    }

    .section-1 {
        height: 75%;
    }

    .section-2 {
        height: 15%;
    }

    .section-text {
        padding: 10px
    }

    .section-text-1 {
        font-size: 10px;
    }

    .section-text-2 {
        display: none;
    }

    .information-text {
        height: 100%;
    }

    .information-text-display {
        flex-direction: column;
    }

    .text {
        width: 100%;
    }

    .system-page {
        padding: 20px 10px 20px 10px;
        flex-direction: column-reverse;
    }

    .system-section-1 {
        align-items: center;
        flex: 50%;
        padding-top: 30px;
    }

    .map-phone {
        flex: 50%;
        flex-direction: row-reverse;
    }

    .system-section-2 {
        display: flex;
        padding: 0;
        flex: 30%;
        justify-content: flex-end;
    }

    .system-map {
        width: 60%;
    }

    .system-section-3 {
        display: flex;
        flex: 40%;
        height: 100%;
        flex-direction: column;
    }

    .system-heading {
        padding-top: 50px;
        margin-bottom: 0;
        height: 32%;
        font-size: 24px;
        padding-bottom: 40px;
        border-bottom: 3px;
    }

    .system-heading-highlight {
        color: #000;
        font-size: 15px;
        font-weight: 800;
    }

    .system-text {
        border-bottom: 3px solid;
        font-size: 12px;
        font-weight: 600;
    }

    .table-text-1 {
        margin-bottom: 0;
    }

    .table-text-2 {
        margin-top: 0;
        padding-top: 0;
    }

    .font-12 {
        font-size: 10px;
    }

    .page-statistic {
        padding: 40px;
        height: auto;
    }

    .row-statistic {
        display: block;
        padding: 0;
    }

    .container-statistic {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .section-statistic {
        display: flex;
        width: 100%;
        padding-bottom: 10px;
        align-items: center;
        justify-content: flex-start;
    }
    
    img.icon-statistic {
        height: 75%;
        width: 16%;
    }

    .content-statistic {
        padding-left: 30px;
    }

    p.text-statistic {
        font-size: 10px;
        color: #fff;
        font-weight: 540;
    }

    span.counter {
        font-size: 30px;
        color: #fff;
        font-weight: 800;
    }

    #project {
        padding: 45px 0 45px 0;
        margin: 0 10px 0 10px;
        margin-bottom: 50px;
    }

    .highlight-project {
        margin: 0;
        margin-bottom: 10px;
    }

    .heading-tab-project {
        display: none;
    }

    .body-tab-project {
        display: flex;
        flex-direction: column;
    }

    .img-project {
        padding-top: 10px;
        padding-right: 0;
    }

    img.img-project-1 {
        width: 100%;
        height: 560px;
    }

    .picture-project {
        margin: 0;
    }

    #prize {
        background-color: #f1f1f1;
        padding: 20px;
        height: auto;
    }

    .container-prize {
        padding: 0;
    }

    .prize-heading {
        display: flex;
        align-items: center;
        width: 60%;
        margin-bottom: 20px;
        border-bottom: 3px solid #EA7F23;
    }

    p.prize-h2 {
        font-size: 14px;
        font-weight: 600;
    }

    strong.prize-h1 {
        padding-left: 11px;
        font-size: 16px;
        color: #EA7F23;
    }

    i.ti-angle-right {
        color: #EA7F23;
        font-size: 12px;
        font-weight: 600;
    }

    p.text-heading-prize {
        padding-left: 10px;
        font-size: 12px;
        font-weight: 600;
    }

    .body-img-prize-1 {
        display: flex;
        padding-top: 16px;
        align-items: center;
        justify-content: center;
    }

    .prize-cup {
        width: 80%;
    }

    .vasgroup-news {
        padding: 10px;
    }

    .container-news {
        display: flex;
        flex-direction: column;
    }

    .blog {
        padding-bottom: 20px;
        width: 100%;
    }

    p.day-date {
        font-size: 20px;
        text-align: center;
    }

    .text-news {
        height: 160px;
        background-color: #fff;
        box-shadow: #999 0 5px 15px;
    }

    .form-text-news {
        padding: 9px;
    }

    p.heading-text-news {
        font-size: 14px;
        color: #7a7a7a;
        font-weight: 600;
        margin-bottom: 12px;
    }

    p.body-text-news {
        font-size: 14px;
        font-weight: 600;
    }

    #contact {
        background-color: #f1f1f1;
    }

    .footer {
        padding: 10px;
    }

    .section-1-footer {
        padding: 14px;
        margin-bottom: 0;
    }

    .row-section-1-footer {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .box-footer {
        width: 100%;
        padding-bottom: 30px;
        padding-right: 0;
    }

    .heading-box-footer {
        font-size: 13px;
        margin-bottom: 10px;
    }

    i.ti-location-pin {
        font-size: 27px;
        color: #EA7F23;
    }

    p.text-place-box {
        margin: 5px;
        font-size: 14px;
        color: #6e6f72;
    }

    .inbox-box-footer {
        display: flex;
        font-size: 9px;
        color: #646464;
    }

    .phone-box-footer {
        display: flex;
        align-items: center;
    }

    i.ti-headphone-alt {
        color: #7d7b7b;
        font-size: 23px;
    }

    p.phone-number {
        padding-left: 20px;
        font-size: 14px;
    }

    .email-box-footer {
        display: flex;
        align-items: center;
        padding-left: 50px;
    }

    i.ti-basketball {
        color: #7d7b7b;
        font-size: 22px;
    }

    p.email-place {
        padding-left: 15px;
        font-size: 15px;
    }

    .section-2-footer {
        padding-left: 13px;
        padding-right: 13px;
    }

    .box-app-footer {
        padding: 28px 30px;
        display: flex;
    }

    .created {
        width: 100%;
    }


    p.heading-created {
        padding-left: 200px;
        font-size: 14px;
    }

    p.name-created {
        padding-left: 280px;
        font-weight: 900;
        color: #EA7F23;
    }



}